.project.card {
    border-radius: $rounded-borders;
    text-decoration: none!important;
    margin: 10px auto;

    .card-img-top {
        border-radius: $rounded-borders $rounded-borders 0 0;
    }

    &:hover:not(.article) {
        box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, .24);
    }
}


.project {

    .rotate180 {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
    }

    .rotate90 {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
    }
    
}